body {
    width: 100vw;
    height: 100vh;
    margin: 0; 
    background: black;
    overflow: hidden;
}
.stats{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    color: white;
}
#playerStats {
	position: absolute;
	top: 30px;
    font-size: large;
	width: 100%;
    color: aliceblue;
	text-align: center;
	z-index: 100;
	display:block;
}